/*
 * SPDX-FileCopyrightText: 2022 Glasswings
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@font-face {
    font-family: "CharisSIL-Regular";
    src:
        url("/font/CharisSIL-Regular.woff") format("woff");
}
@font-face {
    font-family: "IslandMoments-Regular";
    src:
        url("/font/IslandMoments-Regular.woff") format("woff");
}
