/*
 * SPDX-FileCopyrightText: 2022 Glasswings
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

* {
    margin: 0;
    padding: 0;
}

:root {
    background-color: #0E1D30;
    color: #CAAA76;
}

a {
    color: #44A091;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction:column;
    font-family: CharisSIL-Regular, serif;
}
section.main {
    flex: 1;
    left: 0;
    right: 0;
}
header {
    background-color: black;
    color: #4D47B9;
    font-size: 2.2rem;
    font-family: IslandMoments-Regular, monospace;
    padding: 2.5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    gap: 3rem;
    justify-content: space-around;
}

footer {
    flex-shrink: 0;
    background-color: black;
    color: #5781B3;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 0.3rem;
}

main {
    margin: auto;
    padding-top: 2rem;
    padding: 1rem;
    max-width: min(65rem, 85vw);
}

main * {
    margin-top:1.5ex;
    font-size:1.4rem;
}
