<!DOCTYPE html>
<!--
Template copyright:
SPDX-FileCopyrightText: 2022 Glasswings
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<html><head>
    <meta charset="UTF-8">        
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
{% block header %}
  <header>
    <h1>Patanor</h1>
    <h2>{{ title }}</h2>
  </header>
{% endblock %}
  <section class="main">
    <main>
{% block main %}
{{ content | safe }}
{% endblock %}
    </main>
  </section>
  <footer>
    site templates © 2022 Glasswings
    <a href="/about/license/">source available under AGPL</a>
{% block contentCopyright %}
{% endblock %}
  </footer>
</body>
</html>
